.formSection {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem 8rem;

    img {
        width: 140px;
        margin-bottom: 10dvh;
        filter: drop-shadow(0 0 20px white);
        position: relative;
        z-index: 2;
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        max-height: 29dvh;
        min-height: 200px;
        z-index: 1;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
    z-index: 10;
    width: 90%;

    input {
        width: 100%;
        padding: 8px;
        border: none;
        background: var(--white700);
        border-radius: 4px;
        text-align: center;
    }

    input[type=submit] {
        width: 100%;
        background: var(--primary-color);
        color: var(--white900);
        margin-top: 24px;
    }

    input[type=submit].signinSubmit {
        margin-top: 0px;
    }

    span {
        color: var(--white400);
        align-self: flex-end;
        position: absolute;
        bottom: 54px;
    }
}

.signInButton {
    margin-top: 30px;
}